@using BoldBIEmbedSample.Models
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>BoldBI Blazor Embed</title>
    <script type="text/javascript" src="https://cdn.boldbi.com/embedded-sdk/v12.1.5/boldbi-embed.js"></script>
    <script type="text/javascript" src="~/js/Index.js?v=1.0"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <script type="text/javascript">
        var currentApplicationControllerPath  = "@ViewBag.CurrentApplicationControllerPath ";
        var dashboardId = "@ViewBag.DashboardId";
        var siteIdentifier = "@ViewBag.SiteIdentifier";
        var environment = "@ViewBag.Environment";
        var embedType = "@ViewBag.EmbedType";
        var token = "@ViewBag.Token";
    </script>
</head>

<body onload="renderDashboard(dashboardId)">
    <div id="viewer-section" style="width: 100%";>
        <div id="dashboard"></div>
    </div>
</body>
</html>