@page "/"
@using BoldBIEmbedSample.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BoldBI Blazor Embed</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>

    <div id="dashboard"></div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.boldbi.com/embedded-sdk/latest/boldbi-embed.js"></script>
    <script>
        var rootUrl = "@GlobalAppSettings.EmbedDetails.ServerUrl";
        var siteIdentifier = "@GlobalAppSettings.EmbedDetails.SiteIdentifier";
        var dashboardId = "@GlobalAppSettings.EmbedDetails.DashboardId";
        var embedType = "@GlobalAppSettings.EmbedDetails.EmbedType";
        var environment = "@GlobalAppSettings.EmbedDetails.Environment";
        var authorizationServerUrl = "/AuthorizationServer";
        
        $(document).ready(function () {
            this.dashboard = BoldBI.create({
                serverUrl: rootUrl + "/" + siteIdentifier,
                dashboardId: dashboardId,
                embedContainerId: "dashboard",
                embedType: embedType,
                environment: environment,
                width: window.innerWidth + "px",
                height: window.innerHeight + "px",
                expirationTime: 100000,
                authorizationServer: {
                    url: authorizationServerUrl
                }
            });
            this.dashboard.loadDashboard();
        });
    </script>
</body>
</html>


